<form action="" [formGroup]="form" (submit)="enviar()" >
    <h3>@if(!item._id){Nuevo}@else{  Editar} Unidad</h3>
    <p>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput name="nombre" formControlName="nombre">
    </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput name="apellido" formControlName="apellido">
        </mat-form-field>
    </p>
    <p>
      <p>
        <mat-form-field>
            <mat-label>fecha</mat-label>
            <input matInput name="fecha" formControlName="fecha" type="date">
        </mat-form-field>
    </p>
    <p>
      <mat-form-field>
          <mat-label>Biografia</mat-label>
          <input matInput name="biografia" formControlName="biografia">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
          <mat-label>Puesto</mat-label>
          <input matInput name="puesto" formControlName="puesto">
      </mat-form-field>
    </p>
    <mat-form-field>
      <mat-label>Partido</mat-label>
      <mat-select formControlName="partidoId">
        <mat-option *ngFor="let partido of partidos()" [value]="partido._id">
          {{ partido.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    @if(msg()!=''){
        <p>
            {{msg()}}
        </p>
    }
    <p>
    <button mat-raised-button>Limpiar</button>
    <button mat-stroked-button [disabled]="form.invalid" >Enviar</button>
    <p>
</form>
