<div
  [class.success]="estado === StatusMessage.Success"
  [class.error]="estado === StatusMessage.Error"
  [class.warning]="estado === StatusMessage.Warning"
  [class.info]="estado === StatusMessage.Info"
>
  <span matSnackBarLabel>
    {{ msg }}
  </span>

  <span matSnackBarActions>
    <button mat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">
      <mat-icon *ngIf="estado === StatusMessage.Success" fontIcon="check"></mat-icon>
      <mat-icon *ngIf="estado === StatusMessage.Warning" fontIcon="warning"></mat-icon>
      <mat-icon *ngIf="estado === StatusMessage.Error" fontIcon="error"></mat-icon>
      <mat-icon *ngIf="estado === StatusMessage.Info" fontIcon="info"></mat-icon>
    </button>
  </span>
</div>
